<template>
    <div class="header">
        <button class="header__button t-button" @click="showBalance">Mon compte</button>
        <button class="header__button t-button" @click="showPaiements">Mes paiements</button>
    </div>
</template>

<script>

export default {
  props:[],  
  data () {
    return {
      balanceVisible: true,
      paiementsVisible: false,
    }
  },
  methods:{
      showBalance: function(){
        this.$store.commit('showBalance');
      },
      showPaiements: function(){
        this.$store.commit('showPaiements');
      },
    },
    computed:{}
}

</script>

<style lang="styl">

@import '~commonStyles';

.header
  color #fff
  background-color common-panel-background-color

.header__button
    font-size : 20px
    height: 30px
    width: 250px
    margin: 3px  
    background: common-button-background-color
    color #fff
    cursor pointer
    border-radius 35px

</style>