<template>
    <div class="main-panel">
        <mon-compte-panel v-if="this.$store.state.isBalanceVisible"></mon-compte-panel>
        <paiements-panel v-if="this.$store.state.isPaiementsVisible"></paiements-panel>
    </div>
</template>

<script>

import monComptePanelTemplate from 'modules/monCompteComponent.vue'
import paiementPanelTemplate from 'modules/paiementComponent.vue'

export default {
    props:[],  
    data () {
        return {
        }
    },
    methods:{
    },
    components: {
        'mon-compte-panel':monComptePanelTemplate,
        'paiements-panel':paiementPanelTemplate,
    },
    computed:{}
}

</script>

<style lang="styl">

@import '~commonStyles';

.main-panel
    margin-top 20px
    padding 20px

</style>