<template>
    <div class="mon-compte-panel">
    <div class="mon-compte-panel__title">Mon compte</div>
        Ma balance au {{ currentDate }}
        <div class="balance-panel__value">{{this.$store.state.balanceValue}} €</div>
    </div>
</template>

<script>

export default {
  props:[],
  mounted: function(){
      this.$store.dispatch('loadBalance')
  },  
  data () {
    return {
    }
  },
  computed:{
      currentDate: function(){
        var date = new Date();
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        return (date.toLocaleDateString('fr-FR', options));
      }
  }
}

</script>

<style lang="styl">

@import '~commonStyles';

.mon-compte-panel__title    
    padding 20px
    font-size 28px

.balance-panel__value
    margin 10px

</style>