<template>
    <div class="paiements-panel">
        <div class="paiements-panel__title">Mes paiements</div>
        <div class="paiement-list__line">
            <span class="paiement-list__field">Date</span>
            <span class="paiement-list__field paiement-list__field--small">Montant</span>
            <span class="paiement-list__field">Article</span>
            <span class="paiement-list__field paiement-list__field--small">Etat</span>
            <span class="paiement-list__field">Action</span>
            <span class="paiement-list__field"></span>
        </div>        

        <div class="paiement-list_line" v-for="paiement in this.$store.state.paiements" :key='paiement.article_id' :id='paiement.article_id'>
            <span class="paiement-list__field">{{paiement.payment_date}}</span>
            <span class="paiement-list__field paiement-list__field--small">{{montant(paiement.article_id)}} €</span>
            <span class="paiement-list__field">{{label(paiement.article_id)}}</span>
            <span class="paiement-list__field paiement-list__field--small">{{paiement.state}}</span>
            <span class="paiement-list__field"></span>
            <span class="paiement-list__field"></span>
        </div>

        <div class="achat-panel">
            <div class="paiements-panel__title">Faire un achat</div>
            <select v-model="articleToBuy">
              <option disabled value="Choisissez un article"></option>
              <option v-for="article in this.$store.state.articles" :key="article.id" :id="article.id">{{article.label}}</option>
            </select>
            <div class="achat-panel__price">Montant {{buyArticlePrice}}</div>
            <button class="achat-panel__buy-btn t-button" @click="buyArticle">Acheter</button>          
        </div>
    </div>
</template>

<script>

export default {
  props:[],
  mounted: function(){
      this.$store.dispatch('loadPaiements')
  },  
  data () {
    return {
        articleToBuy: '',
    }
  },
  methods:{
      montant: function(articleId){
          var article;
          article = this.$store.state.articles.find( function(item){
              return item.id == articleId;
          });
          return article.price;
      },
      label: function(articleId){
          var article;
          article = this.$store.state.articles.find( function(item){
              return item.id == articleId;
          });

          return article.label;
      },
      etat: function(){

      },
      action: function(){

      },
      cancel: function(){

      },
      buyArticle: function(){

      },
  },
  computed:{
      buyArticlePrice: function(){
           var article;
          article = this.$store.state.articles.find( function(item){
              return item.label == this.articleToBuy;
          }.bind(this));
          return article ? article.price : '';         
      }
  }
}

</script>

<style lang="styl">

@import '~commonStyles';

.paiements-panel
    margin-top 10px

.paiements-panel__title
    padding 20px
    font-size 28px        

.paiement-list__line
    margin-bottom 10px    

.paiement-list__field
    display inline-block
    margin 1px
    padding 5px
    width 200px
    height 20px
    vertical-align middle
    background-color #fff

.paiement-list__field--small    
    width 130px

.achat-panel__price
    font-size 20px
    margin 20px

.achat-panel__buy-btn
    font-size 20px
    margin 20px

</style>