common-button-background-color = #989898
common-button-border-color = #8c909c
common-title-color = #b96363
common-panel-background-color = #3c6691

.t-button
  margin 3px    
  background-color common-button-background-color
  color #fff
  cursor pointer
  border none

.t-close-button
  position relative
  float right
  padding 4px 8px 2px

.t-panel
  background-color common-panel-background-color
  border 1px solid #929292
  padding 20px

.t-panel__title
  color #e3efff
  font-weight bold
  font-size 22px
  padding-bottom 10px
